.hidden {
    display: none;
  }
  .Publier{
      background: linear-gradient(90deg, #fc942d, #e7c52e);
      width: 10vw;
      font-size: 15px;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
  
  .Publier:hover{
      background: linear-gradient(90deg, #e7c52e, #fc942d);
  }
  
  
  .filtre{
      background: linear-gradient(90deg, #fc942d, #e7c52e);
      width: 10vw;
      font-size: 15px;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
  .filtre{
      background: linear-gradient(90deg, #e7c52e, #fc942d);
  
  }
  
  .filter {
      display: flex;
      flex-direction:initial ;
      position: relative;
      left: 240px;
      top: 10px;
  }
  
  .filter-box {
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    height: 50px;
    width: 50px;
    margin: 1vw;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  :checked + label img {
    animation: checkedLabel 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes checkedLabel {
    100% {
      width: 90px;
      height: 90px;
    }
  }
  
  .Post-Desc {
    width: 80%;
    height: 100px;
    cursor: text;
    overflow: auto;
    margin: auto;
  }
  
  .likeCount {
    padding: 1vw;
    margin: auto;
    width: 8%;
    text-align: center;
  }
  
  .Post-Title {
        font-family: Oswald, sans-serif;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 5%;
        color: #fff;
        background-color: #333;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
      }
  
  .div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .div-item {
    width: 90vh;
    height: 30vh;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto;
  }
  
  #post {
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 5px;
  }
  
  .Post-IMG {
    width: auto;
    height: 20vh;
  }
  
  .backcolor2 {
    background-color: #d1b795
  }
  
  p {
    background-color: #e9e2dc;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 35%;
  }
  p1 {
    margin-top: 50px;
    background-color: #e9e2dc;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  .post {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: solid black 1px;
  }
  
  .post h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .post .comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .post .comment-input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
  }
  
  .post .comment-submit {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
  }
  
  .post .comments {
    margin-bottom: 20px;
  }
  
  .post .comment-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  header {
      background: linear-gradient(#74644c, #ccb18c);
      height: 15vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding-left: 15vh;
      padding-right: 8vh;
  }
  
  .logo {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
  }
  .gradient-text {
    background-image: linear-gradient(to right, #fc942d, #e7c52e);
    background-image: -webkit-linear-gradient(right, #fc942d, #e7c52e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
  }
  .profile-icon, .profile-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-left: 0;
  }
  .connected img{
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
      position: absolute;
      right: 13px;
      top: 50px;
  }
  #menu {
    position: absolute;
    right: 3vw;
    background-color: #EBE4DA;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #menu li {
    padding: 5px;
  }
  #menu a {
    text-decoration: none;
    color: #5c4f39;
    font-weight: bold;
  }
  #menu a:hover {
    color: #be8437;
  }
  
  .Publier{
    background: linear-gradient(90deg, #fc942d, #e7c52e);
    width: 10vw;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
  
  .Publier:hover{
    background: linear-gradient(90deg, #e7c52e, #fc942d);
  }