.hidden {
    display: none;
}

.filter {
    display: flex;
    flex-direction:initial ;
}
.filter-box{
    display: block;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 50px;
    width: 50px;
}

.backcolor1{
    background-color: #D2B48C;
}


input[type=checkbox]{
    display: none;
}

:checked + label img{
    animation: checkedLabel 1s;
    animation-fill-mode: forwards;
}

/*:checked + {
     animation-direction: reverse; / Inverse l'animation lorsque la case est cochée
 }
*/

@keyframes checkedLabel {
    100% {
        width: 90px; height: 90px;
    }
}


.Post-Desc{
    width: 300px;
    height: 100px;
    cursor: text;
}
.Post-Title {
    font-weight: bold;
    font-size: 5vh;
    color: blue;
}
.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-item {
    width: 90vh;
    height: 30vh;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto;
}
#post {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
}

.Post-IMG{
    width: 500px;
    height: 500px;
}

.backcolor2{
     background: linear-gradient(#F5F5DC, #D2B48C);
 }
/*POST*/
.post {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Ajout de la largeur fixe */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
}

.post h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.post .comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.post .comment-input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
}

.post .comment-submit {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.post .comments {
    margin-bottom: 20px;
}

.post .comment-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
/*header*/
header {
    background: linear-gradient(#74644c, #ccb18c);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15vh;
    padding-right: 8vh;
}

.logo {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
}

.gradient-text {
    background-image: linear-gradient(to right, #fc942d, #e7c52e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-icon, .profile-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-left: 0;
}

.connected img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 50px;
}
#menu {
    position: absolute;
    right: 3vw;
    background-color: #EBE4DA;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    padding: 5px;
}

#menu a {
    text-decoration: none;
    color: #5c4f39;
    font-weight: bold;
}

#menu a:hover {
    color: #be8437;
}