#profile_picture_choices {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picture_choice {
    width: 200px;
    height: 200px;
}

.picture_choice:hover {
    border: 10px green solid;
}

.picture_choice:active {
    border: 10px rgb(69, 173, 69) solid;
}