/*________________________________ Username part ________________________________*/



/*________________________________ Pictures part ________________________________*/

#profile_picture {
    width: 400px;
}

#profile_picture_choices {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picture_choice {
    width: 150px;
    height: 150px;
}

.picture_choice:hover {
    border: 5px green solid;
}

.picture_choice:active {
    border: 5px rgb(69, 173, 69) solid;
}