<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/index.css">
</head>
<body>
<input type="button" id="myInput" onclick="toggleDiv()" value="Publier">
<div id="myDiv" class="hidden">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="titre">Titre:</label><br>
        <input type="text" id="titre" name="titre"><br><br>
        <label for="Description">Description:</label><br>
        <textarea class="description" id="description" name="description" autofocus></textarea><br><br>
        <label for="imageInput">Image:</label><br>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br><br>
        <input type="submit" value="Soumettre">
    </form>
</div>
<form action="/login" method="post">
    <input type="submit" value="Se connecter">
</form>
<div class="container" id="container"></div>
<script src="../java-script/post.js"></script>
</body>
</html>