<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/InscriptionDada.css">
        <title>Inscription</title>
    </head>

    <body>
        <h2>Choix des Dadas</h2>
        <ul id="dadas">
            <img class="dadaIcone" src="../Pictures/Dadas/Cinema.png" alt="icone_cinema">
            <img class="dadaIcone" src="../Pictures/Dadas/Cuisine.png" alt="icone_cuisine">
            <img class="dadaIcone" src="../Pictures/Dadas/Informatique.png" alt="icone_informatique">
            <img class="dadaIcone" src="../Pictures/Dadas/Jeux.png" alt="icone_jeux">
            <img class="dadaIcone" src="../Pictures/Dadas/Lecture.png" alt="icone_lecture">
            <img class="dadaIcone" src="../Pictures/Dadas/Musique.png" alt="icone_musique">
            <img class="dadaIcone" src="../Pictures/Dadas/Sport.png" alt="icone_sport">
        </ul>
    </body>

    <script src="../java-script/erreurMDP.js"></script>
</html>
