<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/InscriptionPicture.css">
        <title>Inscription</title>
    </head>

    <body>
        <div id="container">
            <h1>Choisissez votre photo de profil</h1>

            <img id="profile_picture" src="Pictures/Profil/anonyme.jpg" alt="Current profile picture">
        </div>
  
        <form id="profileForm" action="/userPicture" method="POST">

            <div id="profile_picture_choices">
                <img class="picture_choice" src="Pictures/Profil/woman1.png" alt="Femme 1" onclick="selectDefaultPicture('woman1.png')">
                <img class="picture_choice" src="Pictures/Profil/woman2.png" alt="Femme 2" onclick="selectDefaultPicture('woman2.png')">
                <img class="picture_choice" src="Pictures/Profil/woman3.png" alt="Femme 3" onclick="selectDefaultPicture('woman3.png')">
                <img class="picture_choice" src="Pictures/Profil/woman4.png" alt="Femme 4" onclick="selectDefaultPicture('woman4.png')">
                <img class="picture_choice" src="Pictures/Profil/woman5.png" alt="Femme 5" onclick="selectDefaultPicture('woman5.png')">
                <img class="picture_choice" src="Pictures/Profil/man1.png" alt="Homme 1" onclick="selectDefaultPicture('man1.png')">
                <img class="picture_choice" src="Pictures/Profil/man2.png" alt="Homme 2" onclick="selectDefaultPicture('man2.png')">
                <img class="picture_choice" src="Pictures/Profil/man3.png" alt="Homme 3" onclick="selectDefaultPicture('man3.png')">
                <img class="picture_choice" src="Pictures/Profil/man4.png" alt="Homme 4" onclick="selectDefaultPicture('man4.png')">
                <img class="picture_choice" src="Pictures/Profil/man5.png" alt="Homme 5" onclick="selectDefaultPicture('man5.png')">
            </div>

            <input type="file" id="uploadInput" name="uploadInput" accept="image/png, image/jpeg">

            <input type="hidden" id="selectedPicture" name="selectedPicture" value="">
        
            <button id="sendButton" type="submit">Send</button>
            <a href="/" id="skipButton">Skip</a>

        </form>        
        
        <script src="../java-script/updateChoicePicture.js"></script>
    </body>
</html>
