<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/InscriptionPicture.css">
        <title>Inscription</title>
    </head>

    <body>
        <h1>Choisissez votre photo de profil</h1>

        <p>Photo de profil actuelle</p>
        <img id="photo_profil" src="anonyme.jpg" alt="Current profile picture">
  
        <form id="profileForm" action="/inscriptionPicture" method="POST">
            <select id="profile_picture_select">
                <option value="../Pictures/Profil/woman1.png">Femme 1</option>
                <option value="../Pictures/Profil/woman2.png">Femme 2</option>
                <option value="../Pictures/Profil/woman3.png">Femme 3</option>
                <option value="../Pictures/Profil/woman4.png">Femme 4</option>
                <option value="../Pictures/Profil/woman5.png">Femme 5</option>
                <option value="../Pictures/Profil/man1.png">Homme 1</option>
                <option value="../Pictures/Profil/man2.png">Homme 2</option>
                <option value="../Pictures/Profil/man3.png">Homme 3</option>
                <option value="../Pictures/Profil/man4.png">Homme 4</option>
                <option value="../Pictures/Profil/man5.png">Homme 5</option>
            </select>
            <br><br>
            <button type="submit">Send</button>
        </form>
        
        <script src="../java-script/updateChoicePicture.js"></script>
    </body>
</html>
