<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>FORUM</title>
    <link rel="stylesheet" href="css/LoginPage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <h1><strong>FORUM</strong></h1>
    </div>
</header>
<section id="login">
    <div class="login-box">
        <form action="/login" method="POST">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" value="{{.Username}}"><br>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Se connecter">
        </form>
        <p class="error-message">{{.ErrorMessage}}</p>
        <input type="button" value="Inscription" onclick="window.location.href = 'inscription'">
    </div>
</section>
<script src="script.js"></script>
</body>
</html>
