<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>DADA</title>
        <link rel="stylesheet" href="/css/LoginPage.css">
    </head>

    <body>
        <header>
            <div class="logo">
                <h1>Connexion</h1>
            </div>
        </header>

        <section id="login">
            <form action="/login" method="POST" name="login-form" onsubmit="return validatePassword(event)">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" value="{{.Username}}"><br>
                <p class="error username-error"></p>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password"><br>
                <p class="error password-error"></p>
                <input type="submit" value="Se connecter">
                <input type="submit" value="S'inscrire" formaction="/inscription">
                </div>
                </form>
        </section>

        <script src="script.js"></script>
        
    </body>
</html>