<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
</head>
<body>
<h2>Page de connexion</h2>
<form action="/login" method="POST">
  <label for="username">Nom d'utilisateur:</label>
  <input type="text" id="username" name="username"><br>
  <label for="password">Mot de passe:</label>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Se connecter">
</form>
<input type="button" value="Inscription" onclick="window.location.href = 'inscription'">

</body>
</html>
