<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/settings.css">
        <script src="https://kit.fontawesome.com/bf58ec26bb.js" crossorigin="anonymous"></script>
        <title>Paramètres</title>
    </head>
    
    <body>
        <h2>Changer le pseudo</h2>
            <form action="/settings" method="POST" name="change-username-form">
                <label for="username">Nouveau nom d'utilisateur :</label>
                <input type="text" id="username" name="username">
                <p class="usernameMessage">{{.UsernameMessage}}</p>
            
                <input type="submit" value="Modifier">
            </form>

        <h2>Changer la photo de profil</h2>
            <img id="profile_picture" src="{{.ImgPath}}" alt="Current profile picture">

            <form id="profileForm" action="/userPicture" method="POST" enctype="multipart/form-data">

                <div id="profile_picture_choices">
                    <img class="picture_choice" src="Pictures/Profil/woman1.png" alt="Femme 1" onclick="selectDefaultPicture('woman1.png')">
                    <img class="picture_choice" src="Pictures/Profil/woman2.png" alt="Femme 2" onclick="selectDefaultPicture('woman2.png')">
                    <img class="picture_choice" src="Pictures/Profil/woman3.png" alt="Femme 3" onclick="selectDefaultPicture('woman3.png')">
                    <img class="picture_choice" src="Pictures/Profil/woman4.png" alt="Femme 4" onclick="selectDefaultPicture('woman4.png')">
                    <img class="picture_choice" src="Pictures/Profil/woman5.png" alt="Femme 5" onclick="selectDefaultPicture('woman5.png')">
                    <img class="picture_choice" src="Pictures/Profil/man1.png" alt="Homme 1" onclick="selectDefaultPicture('man1.png')">
                    <img class="picture_choice" src="Pictures/Profil/man2.png" alt="Homme 2" onclick="selectDefaultPicture('man2.png')">
                    <img class="picture_choice" src="Pictures/Profil/man3.png" alt="Homme 3" onclick="selectDefaultPicture('man3.png')">
                    <img class="picture_choice" src="Pictures/Profil/man4.png" alt="Homme 4" onclick="selectDefaultPicture('man4.png')">
                    <img class="picture_choice" src="Pictures/Profil/man5.png" alt="Homme 5" onclick="selectDefaultPicture('man5.png')">
                </div>

                <input type="file" id="uploadInput" name="uploadInput" accept="image/*" onchange="fileUpload(this)">

                <input type="hidden" id="selectedPicture" name="selectedPicture" value="">
            
                <button id="sendButton" type="submit">Send</button>
            </form>  

        <i class="faq fa-solid fa-circle-question"></i>

        <script src="../java-script/updateChoicePicture.js"></script>
        <script src="../java-script/changeUsername.js"></script>
    </body>
</html>
