# Fichiers et dossiers spécifiques à Mac

.DS_Store
.AppleDouble
.LSOverride

# Fichiers de sauvegarde créés par TextEdit
*~.txt

# Fichiers créés par macOS Finder
.Trash/
.Spotlight-V100
.TemporaryItems/
.fseventsd/
